
.arrow {
    width:5vh;
    height:5vh;
    min-width:15px;
    min-height:15px;
    background-color: transparent;
    border: solid rgb(231, 231, 231);
    border-width: 0 1.2vh 1.2vh 0;
    margin: 1vh;
    display: block;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.up {
    transform: rotate(-135deg);
}

.down {
   transform: rotate(45deg);
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
}

.arrow.left:hover {
    transform: rotate(135deg) scale(1.2);
} 

.arrow.right:hover {
    transform: rotate(-45deg) scale(1.2);
} 

.arrow.down:hover {
    transform: rotate(45deg) scale(1.2);
} 
.arrow.up:hover {
    transform: rotate(-135deg) scale(1.2);
} 

.rotate-button {
    padding: 1vh;
    width:7vh;
    height:7vh;
    min-width: 20px;
    min-height: 20px;
    border-color: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.place-ship-button {
    border-radius: 3px;
    border: 0px;
    padding:.8em;
    margin-bottom:1.3em;
    font-size: calc(7px + 1vh);
}

button {
    cursor: pointer;
    outline:none;
}

button:hover:not(.arrow) {
    transform: scale(1.1);
}

.rotate-button:hover {
    background-color: white;
}

.horizontal-controls-container{
    display: flex;
    justify-content: center;
    align-items: center;
}