.square {
    border: 1px solid rgba(202, 202, 202, 0.596);
    z-index: 50;
    box-sizing: border-box;
    position:relative;
}

.game-end-message-wrapper {
    padding-top:1vh;
    padding-bottom: 1vh;
}

.game-end-message {
    font-size: 4vmin;
}

.instructions {
    margin-top: 1vh;
}

.hidden {
    visibility: hidden;
}

span {
    margin-top:1vh;
    font-size: 1.8vmin;
    text-align: left;
}

.keybindings {
    display: grid;
    grid-column-gap: 1vw;
    grid-template-columns: repeat(2, auto);
}

.board {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.targeted {
    position: absolute;
    width:40%;
    height:40%;
    left:50%;
    bottom:50%;
    transform:translate(-50%, 50%);
    border-radius: 50%;
}

.miss {
    background-color: white;
}

.hit {
    background-color: red;
}

.sonar .square:hover:not(.targeted.miss){
    background-color: rgba(255, 0, 0, 0.555);
}

.grid {
    height: 35vh;
    width: 35vh;
    max-height: 65vw;
    max-width: 65vw;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

.sonar-container {
    position: relative;
    height: 500px;
    width: 500px;
}

.sonar {
    background-color: rgb(64, 105, 64);
}

.ocean {
    background-color: rgb(7, 58, 100);
}

img {
    align-items: center; 
    width:auto;
    height:100%;  
    position: relative;  
}
 
img.vertical {
    left:50%;
    transform: translate(-50%) rotate(90deg);
    transform-origin: center center ; 
}